body {
  background-color: black;
  text-align: center;
  font-family: Verdana;
}
h1 {
  font-weight: normal;
  color: white;
  font-size: 50px;
}
a {
  color: aquamarine;
  font-size: 16px
}
p {
  color: gray;
  font-size: 21px;
}
video {
  margins: 0, auto;
}
h2 {
  font-size: 42px;
  font-weight: 300;
  color: white;
}
.footer {
  text-align: right;
  color: gray;
}
